<launch>
<include ns="right" file="$(find look_caresses_pkg)/launch/face_detection.launch">
	<arg name="image" value="/miro/rob01/platform/camr" />	
</include>

<include ns="left" file="$(find look_caresses_pkg)/launch/face_detection.launch">
	<arg name="image" value="/miro/rob01/platform/caml" />	
</include>

</launch>
