<launch>
	
	<include ns="right" file="$(find look_caresses_pkg)/launch/face_detect_double.launch">
	</include>

	<node pkg="look_caresses_pkg" type="Data_input.py" name="Data_input" args="robot=rob01" output="screen" required="true" />

	<node pkg="look_caresses_pkg" type="Coordinator" name="Coordinator" output="screen" required="true" />

</launch>
